/* SideBar.css */
.side-bar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 8%;  
    height: 100%; 
    background-color: #937676;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  /* צל קל בצד הימני */
  }
  
  .side-bar-button {
    display: block;
    width: 100%;
    height: 7%;
    padding: 15px;
    margin: 10px 0;
    background-color: #937676;  /* צבע רקע של כפתור */
    color: #3f3939;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  /* עיצוב הכפתור החדש */


.side-bar-button:hover {
  color: #755f5f;
}

/* עיצוב הטופס */
.child-form {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.child-form label {
  display: block;
  margin-bottom: 10px;
}

.child-form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.child-form button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #937676;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.child-form button:hover {
  background-color: #755f5f;
}


  @media (max-width: 768px) {
    .side-bar {
      width: 8%;
    }
    .side-bar-button {
      font-size: 24px;
      margin-left: -2vw;
    }
    
  }  @media (max-width: 480px) {
    .side-bar {
      width: 3%;
      height: 100%;
  }
    .side-bar-button {

              font-size: 24px;
        width: 100%;
        height: 4%;
        display: flex
;
        margin: auto;
        font-size: 16px;
        margin-left: -6.5vw;
    }
    
  }