/* SideBar.css */
.side-bar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 10%;  
    height: 100%; 
    background-color: #937676;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  /* צל קל בצד הימני */
  }
  
  .side-bar-button {
    display: block;
    width: 100%;
    height: 7%;
    padding: 15px;
    margin: 10px 0;
    background-color: #937676;  /* צבע רקע של כפתור */
    color: #3f3939;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  

  