.children-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  /* צבע קרם ורדרד */
  width: 100%;
  /* מאפשר למלא את כל הרוחב של המסך */
  position: relative;
  padding-top: 50px;
  padding-left: 20px;
}


.table-title {
  text-align: left;
  margin-bottom: 5px;
  color: #3f3939;
  font-size: xx-large;
  font-weight: bold;
  width: 90%;
  max-width: 900px;
  margin-top: -8vh;
}

.children-table {
  width: 90%;
  max-width: 900px;
  border-collapse: collapse;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
}

.children-table th,
.children-table td {
  padding: 20px 30px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.children-table th {
  background-color: #937676;
  color: #ffffff;
  font-weight: bold;
}

.children-table tr:hover {
  background-color: #cfcbcb;

}

.children-table tr:last-child td {
  border-bottom: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  margin-top: 12px;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  /* רוחב הכפתור */
  height: 30px;
  /* גובה הכפתור */
  font-size: 18px;
  /* גודל הטקסט */
  font-weight: bold;
  /* טקסט מודגש */
  text-decoration: none;
  color: #333;
  /* צבע הטקסט */
  border-radius: 50%;
  /* עיגול */
  background-color: #f1d3d3;
  /* רקע */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination li a:hover {
  background-color: #937676;
  /* רקע ורוד כהה */
  color: #ffffff;
  /* טקסט לבן */
}

.pagination li.active a {
  background-color: #937676;
  color: #ffffff;
  /* טקסט לבן */
}

.pagination li:first-child,
.pagination li:last-child {
  display: none;
  /* הסתרת כפתור ראשון ואחרון */
}

.secretary-table-title {
  text-align: left;
  margin-bottom: 5px;
  color: #755f5f;
  font-size: xx-large;
  font-weight: bold;
  width: 90%;
  max-width: 900px;
  /* margin-top: 0vh; */
  /* margin-left: -38vh; */
  position: absolute;
  left: 4vw;
  top: 0vh;
}

.manager-icon {
  position: fixed;
  top: 20px;
  right: 144px;
  width: 48px;
  height: 49px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.manager-icon:hover {
  background-color: #cfcbcb;
  transform: scale(1.1);
  /* אנימציה קטנה */

}

.branch-manager-details {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.branch-manager-details h2 {
  margin-bottom: 20px;
}

.branch-manager-details button {
  margin-bottom: 20px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.close-button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 1px;
  cursor: pointer;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #3f3939;
}

.modal-content li:hover {
  background-color: #f0f0f0;
}

.modal-content h3 {
  margin-bottom: 14px;
  color: #755f5f;
  margin-top: 10px;
  font-weight: bold;
  font-size: 28px;

}

.modal-content h4 {
  margin-bottom: 14px;
  color: #3f3939;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;

}

.modal-content p {

  color: #3f3939;
}

.branches-button {

  position: fixed;
  top: 20px;
  right: 206px;
  width: 48px;
  height: 49px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.edit-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px #705050;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background: none;


}

.edit-button:hover {
  background-color: #d3d3d3;
  /* אפור בהיר */
  transform: scale(1.1);
  /* אנימציה קטנה */
}


.branches-button:hover {
  background-color: #cfcbcb;
  transform: scale(1.1);
  /* אנימציה קטנה */

}


.add-branch-button:hover {
  background-color: #d3d3d3;
  /* אפור בהיר */
  transform: scale(1.1);
  /* אנימציה קטנה */
}

.add-branch-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px #705050;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background: none;
  width: 48px;
  height: 49px;

}



.modal-content {
  position: relative;
  /* מאפשר מיקום יחסי */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 6px #705050;
  width: 400px;
  max-width: 90%;
  padding-bottom: 60px;
  max-height: 86%;
  overflow: auto;



}




form {
  text-align: left;
  margin-top: 20px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  font-weight: bold;
}


.modal-content input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  /* border-radius: 50px; */
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 25px;
  font-size: 14px;
  color: #3f3939;
  background-color: #fff;
  box-shadow: 0 0px 6px #705050;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;

}

.modal-content input:focus {
  outline: none;
  /* הסרת גבול חיצוני בעת פוקוס */
  border-color: #937676;
  /* שינוי צבע הגבול לפוקוס */
  background-color: #f9f9f9;
  /* שינוי צבע הרקע כשיש פוקוס */
  box-shadow: 0 4px 6px #705050;
}

.modal-content textarea {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  /* border-radius: 50px; */
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 25px;
  font-size: 14px;
  color: #3f3939;
  background-color: #fff;
  box-shadow: 0 0px 6px #705050;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;
  height: 15px;
  overflow: hidden;
  /* אפשר גלילה אם יש צורך */
  -webkit-overflow-scrolling: touch;
  /* גלילה חלקה במסכים עם מגע */
  appearance: none;
  /* סטנדרט */
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;

}

.modal-content textarea:focus {
  outline: none;
  /* הסרת גבול חיצוני בעת פוקוס */
  border-color: #937676;
  /* שינוי צבע הגבול לפוקוס */
  background-color: #f9f9f9;
  /* שינוי צבע הרקע כשיש פוקוס */
  box-shadow: 0 4px 6px #705050;
}

.save-botton {
  background-color: #755f5f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 8px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.no-botton {
  background-color: #755f5f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 8px;
  position: absolute;
  bottom: 20px;
  right: 90px;

}


form button:hover {
  background-color: #8a6f6f;
}

.delete-child-icon {
  position: absolute;
  right: 5vw;
  /* להניח את האייקון בצד הימני של השורה */
  top: 50%;
  transform: translateY(-50%);
  display: none;
  /* ההגדרה ברירת מחדל היא שהאייקון לא יוצג */
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  right: 10px;
  /* להניח את האייקון בצד הימני של השורה */
  top: 50%;
  transform: translateY(-50%);
  display: none;
  /* ההגדרה ברירת מחדל היא שהאייקון לא יוצג */
  cursor: pointer;
  z-index: 9999;

}

.branch-item {
  position: relative;
  font-weight: bold;
  /* להבטיח שהאייקון יוכל להיות ממוקם נכון */
}

.branch-item:hover .delete-icon {
  display: block;
  /* כאשר המצב הוא hover, האייקון יופיע */
}

.children-table tr:hover .delete-child-icon {
  display: block;
  /* כאשר המצב הוא hover, האייקון יופיע */
}

.activity-button {
  position: fixed;
  top: 20px;
  right: 268px;
  width: 48px;
  height: 49px;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.activity-button:hover {
  background-color: #d3d3d3;
  /* אפור בהיר */
  transform: scale(1.1);
  /* אנימציה קטנה */
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  border-radius: 8px;
  width: 300px;
  text-align: center;

}

.group-list {
  list-style: none;
  padding: 0;
}

.group-list li {
  margin: 5px 0;
}

.save-activity {
  margin-top: 0px;
  position: absolute;
  padding: 10px;
  bottom: 26px;
  left: 45vw;
  /* right: 50vw; */
  background-color: #755f5f;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 9vw;
  position: fixed;
}
.save-activity-datails{
  margin-top: 0px;
  position: absolute;
  padding: 10px;
  bottom: 100px;
  left: 45vw;
  /* right: 50vw; */
  background-color: #755f5f;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 9vw;
  position: fixed;
}

input[type="checkbox"]:checked {
  appearance: none;
  /* מבטל את ברירת המחדל של הדפדפן */
  background-color: #937676;
  /* צבע חום */
  border: 2px solid #937676;
  /* מסגרת תואמת */
  cursor: pointer;
  width: 1.5vw;
  height: 3vh;
  border-radius: 50%;
  /* מסגרת עם פינות מעוגלות (אופציונלי) */
  vertical-align: middle;
  /* יישור התיבה למרכז הטקסט */
  margin-right: 10px;
  /* רווח קטן בין התיבה לטקסט */
  padding: 0px;
}

/* עיצוב התיבה שלא נבחרה */
input[type="checkbox"] {
  appearance: none;
  /* מבטל את ברירת המחדל */
  background-color: #fff;
  /* רקע לבן */
  border: 2px solid #ccc;
  /* מסגרת אפורה */
  cursor: pointer;
  width: 1.5vw;
  height: 3vh;
  border-radius: 50%;
  /* מסגרת עם פינות מעוגלות (אופציונלי) */
  vertical-align: middle;
  /* יישור התיבה למרכז הטקסט */
  margin-right: 5px;
  /* רווח קטן בין התיבה לטקסט */
}

input[type="checkbox"]:checked::after {
  content: '✔';
  /* או השתמשי באייקון אחר */
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.branch-container {
  margin-bottom: 20px;
}

.group-container li{
  margin-left: 20px;
  font-size: 0.8em;
  color: #666;
  margin-bottom: -13px;
  padding: 11px;
}     /* צבע טקסט אפור בהיר */

.group-container input[type="checkbox"]:checked {
  appearance: none;
  /* מבטל את ברירת המחדל של הדפדפן */
  background-color: #937676;
  /* צבע חום */
  border: 2px solid #937676;
  /* מסגרת תואמת */
  cursor: pointer;
  width: 1vw;
  height: 2vh;
  border-radius: 50%;
  /* מסגרת עם פינות מעוגלות (אופציונלי) */
  vertical-align: middle;
  /* יישור התיבה למרכז הטקסט */
  margin-right: 10px;
  /* רווח קטן בין התיבה לטקסט */
  padding: 0px;
}

/* עיצוב התיבה שלא נבחרה */
 .group-container input[type="checkbox"] {
  appearance: none;
  /* מבטל את ברירת המחדל */
  background-color: #fff;
  /* רקע לבן */
  border: 2px solid #ccc;
  /* מסגרת אפורה */
  cursor: pointer;
  width: 0.5vw;
  height: 1vh;
  border-radius: 50%;
  /* מסגרת עם פינות מעוגלות (אופציונלי) */
  vertical-align: middle;
  /* יישור התיבה למרכז הטקסט */
  margin-right: 5px;
  /* רווח קטן בין התיבה לטקסט */
}

.group-container input[type="checkbox"]:checked::after {
  content: '✔';
  /* או השתמשי באייקון אחר */
  color: white;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .table-title {
    font-size: xx-large;
    margin-left: 7vw;

  }

  .children-table {
    width: 83vw;
    margin-left: -1vw;
  }

  .children-table th,
  .children-table td {
    font-size: x-large;

  }

  .pagination {
    margin-left: -7vw;

  }
}




@media (max-width: 480px) {
  .table-title {
    font-size: xx-large;
    margin-left: -31vw;
    margin-top: 44vh;
  }
  .children-list-wrapper {
    width: 95%;
}

  .children-table {
    margin-right: 17vw;
  }

  .children-table th,
  .children-table td {
    font-size: small;
    padding: 20px 35px;

  }

  .pagination {
    margin-top: 1vh;
    margin-left: -30vw;
  }
}