/* Default styles for larger screens (desktop) */
.child-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.new-child-form .child-details-form {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 55vw;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 87vh;
    padding-bottom: 25px;
}

.new-child-form h3 {
    margin-bottom: -89px;
    margin-left: 42vh;
    padding-top: 0vh;
    font-size: xx-large;
    color: #3f3939;
    margin-top: 1vh;
}

.child-details-form .close-button {
    background: none;
    border: none;
    color: #333;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: -17px;
    cursor: pointer;
}

.new-child-form .child-image img {
    width: 7vw;
    height: 15vh;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #755f5f;
    margin-bottom: -2vh;
    margin-top: 7vh;
    margin-left: 1vw;
}

.new-child-form ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    gap: 4px;
    list-style: none;
    padding: 0;
    margin-left: 10vw;
    margin-top: -5vh;
}

.new-child-form li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.new-child-form label {
    font-weight: bold;
    display: block;
}

.new-child-form select,
.new-child-form input {
    border: none;
    border-bottom: 2px solid #3f3939;
    background: transparent;
    font-size: 16px;
    width: 60%;
    display: block;
}

.new-child-form select {
    font-size: 15px;
    padding: 1px 4px;
}

.new-child-form select:focus,
.new-child-form input:focus {
    border-color: #3f3939;
    outline: none;
}

.new-child-form select option:focus {
    background-color: #3f3939;
    color: white;
}

.new-child-form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #755f5f;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.new-child-form input:focus {
    border: none;
    border-bottom: 2px solid #755f5f;
    outline: none;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.new-child-form button {
    background-color: #937676;
    width: 6vw;
    height: 5vh;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    border: none;
}

.submit {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.submit:focus {
    background-color: whitesmoke;
}

.new-child-form .address {
    font-size: 11px;
}

.new-child-form .address:focus {
    font-size: 11px;
}

.new-child-form input[type="radio"] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 2px solid #3f3939;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

.radio-group .radio-option input[type="radio"]:checked {
    background-color: #755f5f;
    border-color: #755f5f;
}

.radio-group .radio-option {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
}

/* התאמת הטקסט */
.radio-group .radio-option label {
    font-size: 16px;
    margin-left: 5px;
    color: #333;
}

/* עיצוב בועת הדיבור */
.health-issue-note {
    position: absolute;
    right: 98vh;
    bottom: 2vh;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 80px;
    resize: none;
    font-size: 14px;
}

/* Media Query for Tablet Screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .new-child-form button {
        width: 19vw;
      
    }
    .new-child-form .child-details-form {
        width: 72vw;
        height: 90vh;
        max-height: 90vh;
        overflow: auto;
    }

    .new-child-form h3 {
        margin-left: 24vw;
        font-size: xx-large;
    }

    .child-details-form .close-button {
        right: -38px;
    }

    .new-child-form .child-image img {
        width: 20vw;
        height: 20vw;
        margin-top: 5vh;
        margin-bottom: 0vh;
    }

    .new-child-form ul {
        margin-left: 11vw;
        margin-top: 0;
        grid-template-columns: 1fr;
    }

    .new-child-form li {
        margin-bottom: 15px;
    }

    .new-child-form select,
    .new-child-form input {
        width: 80%;
        font-size:22px;
    }

    .submit {
        position: fixed;
        bottom: 58px;
        right: 301px;
        width: 80%;
        width: 6vw;
    }

    .health-issue-note {
        width: 160px;
        bottom: 1vh;
        right: 3vh;
    }

    .new-child-form .address {
        font-size: 12px;
    }
}

/* Media Query for Mobile (iPhone) Screens */
@media (max-width: 480px) {
    .new-child-form .child-details-form {
        width: 85%;
        height: 80%;
        overflow: auto;
        /* margin-top: -43px; */
        margin-bottom: 49px;

    }
    .child-details-overlay {
 
        height: 100%;}

    .new-child-form h3 {
        font-size: xx-large;
        margin-left: 14vw;
        margin-top: -5px;
    }

    .child-details-form .close-button {
        right: -26px;
        /* left: 10px; */
        top: 6px;
    }

    .new-child-form .child-image img {
        width: 23vw;
        height: 24vw;
        margin-top: 11vh;    }

    .new-child-form ul {
        margin-left: 3vw;
        grid-template-columns: 1fr;
        margin-top: 0;
    }

    .new-child-form select,
    .new-child-form input {
        width: 90%;
    }

    .submit {
        position: fixed;
        bottom: 45px;
        right: 7vw;
    }
    .new-child-form button {
        width: 25vw;
        bottom: 12vh;

    }
    .health-issue-note {
        width: 130px;
        bottom: 1vh;
        right: 5vh;
    }

    .new-child-form .address {
        font-size: 12px;
    }
    .children-list-wrapper {
        width: 95%;}

}
