/* כללי */
.notification-container {
    font-family: 'Segoe UI', sans-serif;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    color: #333;
    direction: rtl;
  }
  
  /* כותרת */
  .notification-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #937676;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 24.2vw;
    /* margin-left: 26vw; */
    margin-right: -2.8vw;
    margin-top: -5vh;
  }
  .answer-notification-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #937676;
    color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 33.9vw;
    /* margin-left: 26vw; */
    margin-right: -1.3vw;
    margin-top: -3vh;
    height: 5vh;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .recived-notification-header{
    display: flex
    ;
        justify-content: center;
        align-items: center;
        /* background-color: #937676; */
        /* color: white; */
        padding: 3px;
        /* border-radius: 5px; */
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        /* width: 23vw; */
        /* margin-left: 3vw; */
        margin-right: 0vw;
        margin-top: -2vh;
        width: 13vw;
        border-bottom: 1px solid #937676;
       
          display: flex;
          justify-content: flex-start; /* מיישר את התוכן לצד ימין */
          text-align: right; /* מיישר את הטקסט */
          direction: rtl; /* הופך את כיוון הטקסט לימין לשמאל */
        
        
    }
  
  
  .new-notification-header {
    display: flex
  ;
      justify-content: center;
      align-items: center;
      background-color: #937676;
      color: white;
      /* padding: 4px; */
      /* border-radius: 5px; */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 35.3vw;
      /* margin-left: 26vw; */
      margin-right: -1.4vw;
      margin-top: -3vh;
      height: 7vh;
      border-top-right-radius: 14px;
      border-top-left-radius: 14px;
  }
  
  .notification-header h1 {
    font-size: 24px;
    margin: 0;
    margin-right: -5vw;
  }
  
  /* רשימת הודעות */
  .notification-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .notification-item {
    margin-bottom: 15px;
  }
  
  .notification-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 -2px 6px #705050;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .notification-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .notification-content {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  .notification-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: -7px;
  
  }
  
  
  .empty-notification {
    display: flex;
    font-size: 16px;
    top: 23vh;
  
    position: relative;
    text-align: center;
    color: #6f4f1f;
  
    align-items: center;
  
  }
  
  .empty-envelope-icon {
    position: absolute;
    top: -3vh;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .empty-notification p {
    margin-top: 2px;
    /* רווח בין האייקון למילים */
    margin-right: 4vw;
    color: #3f3939;
  }
  
  .empty-notification svg {
    margin-left: 10px;
    color: #6f4f1f;
  }
  
  /* כפתור הודעה חדשה */
  .new-notification-button {
    background-color: #937676;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    /* transition: background 0.3s; */
    /* display: flex
  ; */
    display: flex;
    /* הופך את הכפתור לאלמנט מסוג flex */
    justify-content: center;
    /* מרכז את התוכן אופקית */
    align-items: center;
    /* מרכז את התוכן אנכית */
    text-align: center;
    /* grid-gap: 8px; */
    /* grid-gap: 8px; */
    gap: 8px;
    /* margin-top: 48vh; */
    /* margin-left: 16vw; */
    /* margin-right: 6vw; */
    position: fixed;
    right: 7vw;
    bottom:24vh;
    font-size: 16px;
  }
  
  .new-notification-button:hover {
    background-color: #8a6f6f;
    /* חום כהה יותר */
  }
  
  .new-notification-button svg {
    color: white;
  }
  
  .action-button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #937676;
    width: 6vw;
    color: white;
  }
  .action-button-reply{
    width: 40px;
    height: 39px;  font-size: 14px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    background:none;
    color: white;
    justify-content: center;
      align-items: center;
      display: flex
  ;
  }
  .action-button-reply:hover{
    background-color: #d3d3d3;
    /* אפור בהיר */
    transform: scale(1.1);
    /* אנימציה קטנה */
  }
  .action-button:hover{
    background-color: #8a6f6f;
  
  }
  
  .action-button.send {
    margin-right: 19vw;
    margin-left: 1vw;
  }
  
  
  /* מודאל */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 14px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* סקרול נמענים */
  .recipients-scroll {
  
    max-height: 150px;
    overflow-y: auto;
    /* border: 1px solid #ccc; */
    padding: 10px;
    /* border-radius: 5px; */
    display: flex
  ;
    border-bottom: 2px solid #3f3939;
    position: absolute;
    top: 15vh;
    left: 33vw;
    /* margin-bottom: -4vh; */
    width: 32%;
  }
  .answer-recipients-scroll {
  
    max-height: 150px;
    overflow-y: auto;
    /* border: 1px solid #ccc; */
    padding: 10px;
    /* border-radius: 5px; */
    display: flex
  ;
    border-bottom: 2px solid #3f3939;
    position: absolute;
    top: 14vh;
    left: 33vw;
    /* margin-bottom: -4vh; */
    width: 32%;
  }
  
  .recipient-options label {
    margin-bottom: 5px;
     margin-right: 16px;
    ;
  
  }
  
  .modal h2 {
    color: #3f3939;
  }
  .modal ::placeholder{
    color: #3f3939;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
  }
  .textarea {
    width: 100%;
    /* מגדיר שהתיבה תתפוס את כל הרוחב של ההורה */
    max-width: 600px;
    /* מגביל את הרוחב המקסימלי */
    height: 60vh;
    border: none;
    padding: 10px;
    /* רווח פנימי */
    font-size: 18px;
    /* גודל גופן גדול יותר */
    resize: vertical;
    /* אפשרות להגדיל רק את הגובה */
    outline: none;
    /* מסיר את המסגרת הכחולה בריכוז */
    transition: border-color 0.3s ease;
    /* אפקט מעבר למסגרת */
    margin-right: -0.8vw;
    margin-top: 9vh;
    resize: none;
    -webkit-appearance: none;
  }
  .answer-textarea{
    width: 100%;
    /* מגדיר שהתיבה תתפוס את כל הרוחב של ההורה */
    max-width: 600px;
    /* מגביל את הרוחב המקסימלי */
    height: 60vh;
    border: none;
    padding: 10px;
    /* רווח פנימי */
    font-size: 18px;
    /* גודל גופן גדול יותר */
    resize: vertical;
    /* אפשרות להגדיל רק את הגובה */
    outline: none;
    /* מסיר את המסגרת הכחולה בריכוז */
    transition: border-color 0.3s ease;
    /* אפקט מעבר למסגרת */
    margin-right: -0.8vw;
    margin-top: 4vh;
    resize: none;
    -webkit-appearance: none;
  }
  
  .modal h3 {
    margin-top: -2vh;
    margin-bottom: 0vh;
  }
  
  .recipient-options {
    margin-top: -1.6vh;
  }
  /* עיצוב התיבה הנבחרת */
  input[type="checkbox"]:checked {
    appearance: none; /* מבטל את ברירת המחדל של הדפדפן */
    background-color:  #937676; /* צבע חום */
    border: 2px solid  #937676; /* מסגרת תואמת */
    cursor: pointer;
    width: 1.5vw;
    height: 3vh;
    border-radius: 50%; /* מסגרת עם פינות מעוגלות (אופציונלי) */
    vertical-align: middle; /* יישור התיבה למרכז הטקסט */
    margin-right: 10px; /* רווח קטן בין התיבה לטקסט */
  }
  
  /* עיצוב התיבה שלא נבחרה */
  input[type="checkbox"] {
    appearance: none; /* מבטל את ברירת המחדל */
    background-color: #fff; /* רקע לבן */
    border: 2px solid #ccc; /* מסגרת אפורה */
    cursor: pointer;
    width: 1.5vw;
    height: 3vh;
    border-radius: 50%; /* מסגרת עם פינות מעוגלות (אופציונלי) */
    vertical-align: middle; /* יישור התיבה למרכז הטקסט */
    margin-right: 5px; /* רווח קטן בין התיבה לטקסט */
  }
  input[type="checkbox"]:checked::after {
    content: '✔'; /* או השתמשי באייקון אחר */
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reply-to{
    background-color:#f0f0f0;
    padding: 5px;
    font-style: oblique;
    font-size: 13px;
    margin-top: 5px;
  }
  .action-button-forward {
    width: 40px;
    height: 39px;
    font-size: 14px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    background: none;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex
;
}

.action-button-forward:hover {
  background-color: #d3d3d3;

}
.notification-header-share{
display: flex
;
    justify-content: center;
    align-items: center;
    background-color: #937676;
    color: white;
    padding: 10px;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 34vw;
    /* margin-left: 26vw; */
    margin-right: -1.4vw;
    margin-top: -3vh;
    height: 5vh;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.previous-message{
  border-bottom: 1px solid #3f3939; 
    background-color: #f0f0f0;
    /* font-style: italic; */
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 -2px 6px #705050;
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
    /* margin-top: 10px; */
    position: absolute;
    top: 20vh;
    right: 33.5vw;
    width: 30%;

}
 .share-textarea{
width: 100%;
max-width: 600px;
height: 47vh;
border: none;
padding: 10px;
font-size: 18px;
resize: vertical;
outline: none;
transition: border-color 0.3s ease;
margin-right: -0.8vw;
margin-top: 15vh;
resize: none;
    -webkit-appearance: none;
}