.children-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f0f0f0;
  /* צבע קרם ורדרד */
  /* מאפשר למלא את כל הרוחב של המסך */
  position: relative;
  justify-content: flex-start;
  /* מוודא שהתוכן מתחיל מהחלק העליון */


}


.table-title {
  text-align: left;
  margin-bottom: 5px;
  color: #755f5f;
  font-size: xx-large;
  font-weight: bold;
  width: 90%;
  max-width: 900px;
  /* margin-top: 0vh; */
  /* margin-left: -38vh; */
  position: absolute;
  left: 1vw;
  top: 11vh;
}

.children-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px;

}

/*   
  .children-table th, 
  .children-table td {
    padding: 20px 30px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
  }
  
  .children-table th {
    background-color: #937676;
    color: #ffffff;
    font-weight: bold;
  } */
/* עיצוב תא הטבלה */
.children-table td.profile-td {
  text-align: left;
  vertical-align: middle;
  padding: 10px;
}

.children-table td.city-td {
  text-align: left;
  vertical-align: middle;
  padding: 20px 19px
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 28px;

}

/* עיצוב התמונה */
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  /* מתאים את התמונה למסגרת */
}

/* עיצוב המעטפת של הטקסט */
.name-wrapper {
  display: flex;
  flex-direction: column;
  /* שם ומספר זהות אחד מתחת לשני */
}

/* עיצוב השם */
.name {
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #3f3939;

}

/* עיצוב מספר הזהות */
.id-number {
  font-size: 15px;
  color: #3f3939;
  font-weight: normal;
}

/* סגנון למעטפת העיר והרחוב */
.location-wrapper {
  display: flex;
  flex-direction: column;
  /* מציג את העיר מעל הרחוב */
  align-items: center;
  /* ממרכז את התוכן אופקית */
  justify-content: center;
  /* ממרכז את התוכן אנכית */
  text-align: center;
  /* ממרכז את הטקסט */
  margin-right: 70vh;
}

/* סגנון לעיר */
.location-wrapper .city {
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #3f3939;
}

/* סגנון לרחוב */
.location-wrapper .street {
  font-size: 15px;
  color: #3f3939;
  font-weight: normal;
}

.children-table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.children-table tr:hover {
  background-color: #cfcbcb;
}

.children-table tr:last-child td {
  border-bottom: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  margin-top: 12px;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  /* רוחב הכפתור */
  height: 30px;
  /* גובה הכפתור */
  font-size: 18px;
  /* גודל הטקסט */
  font-weight: bold;
  /* טקסט מודגש */
  text-decoration: none;
  color: #333;
  /* צבע הטקסט */
  border-radius: 50%;
  /* עיגול */
  background-color: #f1d3d3;
  /* רקע */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination li a:hover {
  background-color: #937676;
  /* רקע ורוד כהה */
  color: #ffffff;
  /* טקסט לבן */
}

.pagination li.active a {
  background-color: #937676;
  color: #ffffff;
  /* טקסט לבן */
}

/* פעמון בצד ימין למעלה */
/* אייקון הודעות (בועת דיבור) */



/* מיכל קומפוננטת ההודעות */
  .notifications-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 24px;
    box-shadow: 0 4px 8px #0003;
    height: 67vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2vh;
    position: fixed;
    right: 1vw;
    top: 7vh;
    transition: transform .3s ease-in-out;
    width: 20vw;
    z-index: 1000;

}


/* מעבר חלק על המסך */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.add-child-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 49px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px #705050;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background: none;
}

.add-child-button:hover {
  background-color: #d3d3d3;
  /* אפור בהיר */
  transform: scale(1.1);
  /* אנימציה קטנה */
}

.tooltip {
  position: absolute;
  bottom: 70px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1001;
  /* גבוה יותר מכל רכיב אחר */

}

.home-tooltip {
  position: absolute;
  top: 60px;
  /* מרחק למעלה */
  right: 0;
  /* התמקמות קרובה לכפתור */
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  z-index: 1001;
}

/* כפתור מעבר לדף הבית */
.home-button {
  position: fixed;
  right: 5vw;
  top: 2vh;
  width: 6.8vh;
  height: 6.9vh;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
  background-color: #d3d3d3;
  /* אפור בהיר */
  transform: scale(1.1);
  /* אנימציה קטנה */
}

.notification-icon {
  position: fixed;
  top: 2vh;
  right: 1vw;
  width: 6.8vh;
  height: 6.9vh;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.notification-icon:hover {
  background-color: #cfcbcb;
  transform: scale(1.1);
  /* אנימציה קטנה */

}




@media only screen and (min-width: 481px) and (max-width: 768px) {
  
  .notification-icon-style {
    height: 30px;
    width: 30px; /* גודל מותאם לטאבלטים */
}
  .table-title {
    font-size: xxx-large;
    margin-top: -9vh;
    /* margin-right: 25vh; */
    margin-left: 1vh;
}
  



  .home-button {
    right: 85px;
  }

  .children-table {
margin-top: 3vh;
  }

  .profile-wrapper {
    margin-left: 0vh;
    grid-gap: 15px;
    gap: 45px;
    margin-right: -27vw;
  }

  .name {
    font-size: 26px;

  }

  /* עיצוב מספר הזהות */
  .id-number {
    font-size: 20px;

  }

  /* סגנון למעטפת העיר והרחוב */
  .location-wrapper {
    margin-right: 0vh;
    padding: 10px
  }

  /* סגנון לעיר */
  .location-wrapper .city {
    font-size: 26px;

  }

  /* סגנון לרחוב */
  .location-wrapper .street {
    font-size: 20px;

  }

  .profile-td {
    padding: 10px;
  }

    .children-table img {
      width: 80px;
      height: 80px;
      margin-left: 28px;
  }
  

    .add-child-button {
      bottom: 32px;
      right: 28px;
      width: 66px;
      height: 67px;
  }
  
 .notifications-container {
  position: fixed;
  overflow-x: hidden;
    width: 363px;
    height: 564px; 
  right: 34px;
}





}




@media (max-width: 480px) {
  .notification-icon-style {
    height: 24px;
    width: 24px; /* גודל מותאם לטאבלטים */
}
.table-title {
  margin-left: 2vh;
  font-size: xx-large;
  margin-top: -8vh;
  margin-right: 3vh;
}

  .notification-icon {
    right: 10px;
  }

  .home-button {
    right: 60px;
  }

  .children-table {
    margin-right: 17vw;

  }

  .profile-wrapper {
      margin-left: 1vh;
      grid-gap: 15px;
      grid-gap: 45px;
      gap: 45px;
      margin-right: 45px;  
  }

  .name {
    font-size: 20px;

  }

  /* עיצוב מספר הזהות */
  .id-number {
    font-size: 18px;

  }

  /* סגנון למעטפת העיר והרחוב */
  .location-wrapper {
    margin-right: 0vh;
    padding: 10px
  }

  /* סגנון לעיר */
  .location-wrapper .city {
    font-size: 20px;

  }

  /* סגנון לרחוב */
  .location-wrapper .street {
    font-size: 18px;

  }

  .profile-td {
    padding: 10px;
  }

  .children-table img {
    width: 57px;
    height: 57px;
    margin-left: 65px;
  }

  .add-child-button {
    bottom: 60px;
    right: 22px;
    width: 54px;
    height: 55px;
  }
 .notifications-container {
  right: 34px;}

}